@font-face {
  font-family: "__font_pwks_ui";
  src: url("/assets/font/font_.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_ui";
  src: url("/assets/font/b37cec1772007bb4bf27090dc9597172.eot");
  src: url("/assets/font/b37cec1772007bb4bf27090dc9597172.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/b37cec1772007bb4bf27090dc9597172.woff") format("woff"),
    url("/assets/font/b37cec1772007bb4bf27090dc9597172.woff2") format("woff2"),
    url("/assets/font/b37cec1772007bb4bf27090dc9597172.ttf") format("truetype"),
    url("/assets/font/b37cec1772007bb4bf27090dc9597172.svg#PSL-Kittithada")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font Kanit */
@font-face{
  font-family: "__font_pwks_kanit";
  src: url('/assets/font/Kanit/Kanit-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "__font_pwks_kanit";
  src: url('/assets/font/Kanit/Kanit-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "__font_pwks_kanit";
  src: url('/assets/font/Kanit/Kanit-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "__font_pwks_kanit";
  src: url('/assets/font/Kanit/Kanit-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Font IBM  */
@font-face{
  font-family: "__font_pwks_IBM";
  src: url('/assets/font/IBM_Plex_Sans_Thai_Looped/IBMPlexSansThaiLooped-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #1B78AF;
  --color-primary-op: #086784;
  --color-secondary: #B1B7BA;
  --color-white: #ffff;
  --color-success: #338309;
  --color-success-op: #006955;
  --color-warning: #FBCE02;
  --color-warning-op: #E8A628;
  --color-danger: #BC0000;
  --color-info: #E1DBE5;
  --color-light: #F7F7F9;
  --color-dark: #091B1A;
  --color-school: #833990;
  --color-school-op: #BB99B7;

  --toastify-icon-color-info: var(--color-white) !important;
  --toastify-icon-color-success: var(--color-white) !important;
  --toastify-icon-color-warning: var(--color-white) !important;
  --toastify-icon-color-error: var(--color-white) !important;
}

/* Toast */

.Toastify__toast-theme--light.Toastify__toast--success {
  background-color: #07bc0c !important;
}

.Toastify__toast-theme--light.Toastify__toast--info {
  background-color: #3498db !important;
}

.Toastify__toast-theme--light.Toastify__toast--warning {
  background-color: #f1c40f !important;
}

.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: #e74c3c !important;
}

.Toastify__toast-body {
  color: var(--color-white);
}

.Toastify__close-button {
  color: var(--color-white) !important;
}

.Toastify__progress-bar--info,
.Toastify__progress-bar--success,
.Toastify__progress-bar--warning,
.Toastify__progress-bar--error {
  color: white !important;
  background: white !important;
}

body {
  font-family: "__font_pwks_IBM";
  background-color: #ececec;
}

/* FONT */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

h1{
  font-family: "__font_pwks_kanit";
}

h2{
  font-family: "__font_pwks_kanit";
}

h3{
  font-family: "__font_pwks_kanit";
}

h4{
  font-family: "__font_pwks_kanit";
}

h5{
  font-family: "__font_pwks_kanit";
}

h6{
  font-family: "__font_pwks_kanit";
}

.p-pwks {
  font-size: 1.3rem;
}

.fm-kanit{
  font-family: "__font_pwks_kanit";
}

.main {
  height: 100%;
  min-height: calc(100vh - 352px);
  width: 100%;
}

.divider-solid {
  background-color: black;
  opacity: 0.1;
  width: 100%;
}

/* BUTTON */
.btn-main{
  color: var(--color-white);
  background-color: var(--color-school);
}

.btn-main:hover{
  color: #ececec;
  background-color: #461b8b;
}

/* CURSOR */
.cursor-main {
  cursor: pointer;
}

/* Table */
.th-color-main{
  background-color: #f6c244 !important;
  color: black !important;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
